.display-section{
    display: flex;
    width: 90;
    margin-top: 10px; 
    
}
.product{
    width: 75%;
    margin: auto;
    border-right: 1px solid goldenrod;
}
.order-summary{
    width: 25%;
   
}
.review-button{
    background: golden;
    padding-left: 20px;
    padding-right: 20px;

}